In [45]:
import pandas as pd
import numpy as np
import re
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize'] = (20,10)

In [136]:
df1= pd.read_csv(r'C:\Users\prashant.priyadarshi\Kaggle bangalore house price\Bengaluru_House_Data.csv')
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [187]:
x=df1['total_sqft'].dtype
print(x)

object

In [34]:
df2=df1.drop(['availability', 'area_type', 'society','balcony'], axis='columns')
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [137]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [140]:
df3= df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [143]:
df3['bhk']=df3['size'].apply(lambda x:int(x.split(' ')[0]))
df3.head()

<ipython-input-143-ef4261d0b9c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bhk']=df3['size'].apply(lambda x:int(x.split(' ')[0]))

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [144]:
df3['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [145]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [185]:
df3[~df3['total_sqft'].apply(is_float)].head(20)
x=df3['total_sqft'].dtypes
print(x)
df3['total_sqft']=df3['total_sqft'].object.replace(" ","")
y=df3['total_sqft'].dtypes
print(y)

object

AttributeError: 'Series' object has no attribute 'object'

In [179]:
def convert_range_into_float(x):
    token=x.split('-')
    if len(token) == 2:
        return (float(token[0])+float(token[1]))/2
        try:
            return float(x)
        except:            return None

In [188]:
df4=df3.copy()

df4['total_sqft'].apply(convert_range_into_float)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
13315   NaN
13316   NaN
13317   NaN
13318   NaN
13319   NaN
Name: total_sqft, Length: 13246, dtype: float64

In [198]:
df4['total_sqft'].unique()
df4.index[df4['total_sqft']].tolist()
#              == df3 [ 'month' ] ]

IndexError: arrays used as indices must be of integer (or boolean) type

In [163]:
df4.loc[927]

location      Thanisandra
size                2 BHK
total_sqft    1000 - 1285
bath                    2
price              43.415
bhk                     2
Name: 927, dtype: object

In [164]:
df4.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

Outlier detection

In [165]:
df5= df4.copy()

In [166]:
df5.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [205]:
df5.head()
df5['total_sqft'].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [206]:
df5[~df5['total_sqft'].apply(is_float)]

                 location   size   total_sqft  bath    price  bhk
30              Yelahanka  4 BHK  2100 - 2850   4.0  186.000    4
122                Hebbal  4 BHK  3067 - 8156   4.0  477.000    4
137    8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005    2
165              Sarjapur  2 BHK  1145 - 1340   2.0   43.490    2
188              KR Puram  2 BHK  1015 - 1540   2.0   56.800    2
...                   ...    ...          ...   ...      ...  ...
12975          Whitefield  2 BHK   850 - 1060   2.0   38.190    2
12990      Talaghattapura  3 BHK  1804 - 2273   3.0  122.000    3
13059              Harlur  2 BHK  1200 - 1470   2.0   72.760    2
13265               Hoodi  2 BHK  1133 - 1384   2.0   59.135    2
13299          Whitefield  4 BHK  2830 - 2882   5.0  154.500    4

[190 rows x 6 columns]

In [207]:
df5.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [216]:
len(df5['total_sqft'].unique())

2067

In [215]:
df5['price_per_sqft']=df5['price']*100000/float(df5['total_sqft'])

TypeError: cannot convert the series to <class 'float'>

In [210]:
df5.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056,2.0,39.07,2,3907000.0
1,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00,4,12000000.0
2,Uttarahalli,3 BHK,1440,2.0,62.00,3,6200000.0
3,Lingadheeranahalli,3 BHK,1521,3.0,95.00,3,9500000.0
4,Kothanur,2 BHK,1200,2.0,51.00,2,5100000.0

In [219]:
df5.location=df5.location.apply(lambda x:x.strip())

In [228]:
location_stats=df5.groupby('location')['location'].agg('count').sort_values(ascending=False)
len(location_stats[location_stats<=10])

1052

In [226]:
location_stats

location
Whitefield           535
Sarjapur  Road       392
Electronic City      304
Kanakpura Road       266
Thanisandra          236
                    ...
LIC Colony             1
Kuvempu Layout         1
Kumbhena Agrahara      1
Kudlu Village,         1
1 Annasandrapalya      1
Name: location, Length: 1293, dtype: int64

In [230]:
location_stats_lessthan10= location_stats[location_stats<=10]
location_stats_lessthan10

location
BTM 1st Stage          10
Basapura               10
Sector 1 HSR Layout    10
Naganathapura          10
Kalkere                10
                       ..
LIC Colony              1
Kuvempu Layout          1
Kumbhena Agrahara       1
Kudlu Village,          1
1 Annasandrapalya       1
Name: location, Length: 1052, dtype: int64

In [232]:
df5.location=df5.location.apply(lambda x: 'other' if x in location_stats_lessthan10 else x )

In [234]:
len(df5.location.unique())

242

In [244]:
df5.head()
df5.dtypes

location           object
size               object
total_sqft         object
bath              float64
price             float64
bhk                 int64
price_per_sqft    float64
dtype: object

In [254]:
df5.head()
df5['total_sqft'].str.extract('(\d+)').astype(int)
df5['ABC']=df5['total_sqft'].apply(lambda x: re.search(r'\d+', x).group())
df5.head()
df5['ABC'].unique()
# df5['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '2758', '774', '4689'], dtype=object)

In [246]:
df5[df5.total_sqft/df5.bhk<100].head()

TypeError: unsupported operand type(s) for /: 'str' and 'int'