# Multiple linear regression and handling NA values in any dataset

Importing necessart modules

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

# Load the dataframe from the .csv dataset

In [2]:
df=pd.read_csv(r'C:\Users\prashant.priyadarshi\Downloads\Databases\Multiple Linear Regression\MLR_house_prices.csv')
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

# Taking care of the NaN values if any

In [6]:
import math
median_Bedrooms=math.floor(df.Bedrooms.median())
median_Bedrooms

3

In [7]:
df.Bedrooms.fillna(median_Bedrooms)

0    3.0
1    4.0
2    3.0
3    3.0
4    5.0
Name: Bedrooms, dtype: float64

In [9]:
df.Bedrooms=df.Bedrooms.fillna(median_Bedrooms)
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

# Preprocessing of the data is now done.

In [10]:
reg=linear_model.LinearRegression()

In [13]:
reg.fit(df[['Area','Bedrooms','Age']],df.Price)

LinearRegression()

# Price= m1.Area+m2.Bedrooms+m3.Age+b
where Price= Dependent Variable and Area , Bedrooms, Age are independent varibles

In [15]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

array has the coefficient values of m1, m2 and m3

In [19]:
reg.intercept_

383724.9999999998

the value of intercept b

In [21]:
reg.predict([[3000,3,40]])

array([444400.])

This is the predicted value of Price for Area= 3000, Bedrooms= 3 and Age = 40