In [1]:
# What is entropy? It is measure of randomness
# Use a method which gives high information gain in any sample and low entropy

In [18]:
import pandas as pd
df1=pd.read_csv(r'C:\Users\prashant.priyadarshi\Downloads\Databases\Decision Trees\salaries.csv')
df1

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [19]:
df2=df1.copy()

In [33]:
df3=df2.drop('salary_more_then_100k', axis='columns')
target=df2['salary_more_then_100k']
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [22]:
df3.head()
# company, job and degree as the independent variable and salary_more_then_100k as dependent variable

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [24]:
# converting the categorical values in to numbers for computation
from sklearn.preprocessing import LabelEncoder
# creating objetcs for these classes imported from sklearn library
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [29]:
# creating new columns with label encoded
df3['company_enc']=le_company.fit_transform(df3['company'])
df3['job_enc']=le_company.fit_transform(df3['job'])
df3['degree_enc']=le_company.fit_transform(df3['degree'])
df3.head()

  company                  job     degree  company_enc  job_enc  degree_enc
0  google      sales executive  bachelors            2        2           0
1  google      sales executive    masters            2        2           1
2  google     business manager  bachelors            2        0           0
3  google     business manager    masters            2        0           1
4  google  computer programmer  bachelors            2        1           0

In [31]:
# dropping the columns which would be of no use to us now
df4=df3.drop(['company', 'job', 'degree'], axis='columns')
df4.head

<bound method NDFrame.head of     company_enc  job_enc  degree_enc
0             2        2           0
1             2        2           1
2             2        0           0
3             2        0           1
4             2        1           0
5             2        1           1
6             0        2           1
7             0        1           0
8             0        0           0
9             0        0           1
10            1        2           0
11            1        2           1
12            1        0           0
13            1        0           1
14            1        1           0
15            1        1           1>

In [32]:
# google is now encoded as 2, abc pharma as 0 and facebook as 1. 
# similarly for job and degree also

In [35]:
from sklearn import tree
model= tree.DecisionTreeClassifier()
model.fit(df4,target)

DecisionTreeClassifier()

In [36]:
model.score(df4,target)

1.0

In [38]:
model.predict([[2,2,2]])

array([0], dtype=int64)

In [ ]:
# array [0] means that the salary is less than 100k dollars